<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scythe.developertools">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".display.DisplayToolsActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".memory.MemoryToolsActivity"
            android:parentActivityName=".MainActivity"
            android:process=":testMemory" />
        <service android:name=".memory.MemoryFillingHelperService"
            android:process=":testMemory" />
        <activity android:name=".memory.MemoryFillingActivity"
            android:parentActivityName=".memory.MemoryToolsActivity"
            android:process=":memoryFilling" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService1"
            android:process=":memoryFillingService1" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService2"
            android:process=":memoryFillingService2" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService3"
            android:process=":memoryFillingService3" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService4"
            android:process=":memoryFillingService4" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService5"
            android:process=":memoryFillingService5" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService6"
            android:process=":memoryFillingService6" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService7"
            android:process=":memoryFillingService7" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService8"
            android:process=":memoryFillingService8" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService9"
            android:process=":memoryFillingService9" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService10"
            android:process=":memoryFillingService10" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService11"
            android:process=":memoryFillingService11" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService12"
            android:process=":memoryFillingService12" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService13"
            android:process=":memoryFillingService13" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService14"
            android:process=":memoryFillingService14" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService15"
            android:process=":memoryFillingService15" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService16"
            android:process=":memoryFillingService16" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService17"
            android:process=":memoryFillingService17" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService18"
            android:process=":memoryFillingService18" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService19"
            android:process=":memoryFillingService19" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService20"
            android:process=":memoryFillingService20" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService21"
            android:process=":memoryFillingService21" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService22"
            android:process=":memoryFillingService22" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService23"
            android:process=":memoryFillingService23" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService24"
            android:process=":memoryFillingService24" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService25"
            android:process=":memoryFillingService25" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService26"
            android:process=":memoryFillingService26" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService27"
            android:process=":memoryFillingService27" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService28"
            android:process=":memoryFillingService28" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService29"
            android:process=":memoryFillingService29" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService30"
            android:process=":memoryFillingService30" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService31"
            android:process=":memoryFillingService31" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService31"
            android:process=":memoryFillingService31" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService32"
            android:process=":memoryFillingService32" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService33"
            android:process=":memoryFillingService33" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService34"
            android:process=":memoryFillingService34" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService35"
            android:process=":memoryFillingService35" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService36"
            android:process=":memoryFillingService36" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService37"
            android:process=":memoryFillingService37" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService38"
            android:process=":memoryFillingService38" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService39"
            android:process=":memoryFillingService39" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService40"
            android:process=":memoryFillingService40" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService41"
            android:process=":memoryFillingService41" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService42"
            android:process=":memoryFillingService42" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService43"
            android:process=":memoryFillingService43" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService44"
            android:process=":memoryFillingService44" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService45"
            android:process=":memoryFillingService45" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService46"
            android:process=":memoryFillingService46" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService47"
            android:process=":memoryFillingService47" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService48"
            android:process=":memoryFillingService48" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService49"
            android:process=":memoryFillingService49" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService50"
            android:process=":memoryFillingService50" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService51"
            android:process=":memoryFillingService51" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService52"
            android:process=":memoryFillingService52" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService53"
            android:process=":memoryFillingService53" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService54"
            android:process=":memoryFillingService54" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService55"
            android:process=":memoryFillingService55" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService56"
            android:process=":memoryFillingService56" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService57"
            android:process=":memoryFillingService57" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService58"
            android:process=":memoryFillingService58" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService59"
            android:process=":memoryFillingService59" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService60"
            android:process=":memoryFillingService60" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService61"
            android:process=":memoryFillingService61" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService62"
            android:process=":memoryFillingService62" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService63"
            android:process=":memoryFillingService63" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService64"
            android:process=":memoryFillingService64" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService65"
            android:process=":memoryFillingService65" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService66"
            android:process=":memoryFillingService66" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService67"
            android:process=":memoryFillingService67" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService68"
            android:process=":memoryFillingService68" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService69"
            android:process=":memoryFillingService69" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService70"
            android:process=":memoryFillingService70" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService71"
            android:process=":memoryFillingService71" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService72"
            android:process=":memoryFillingService72" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService73"
            android:process=":memoryFillingService73" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService74"
            android:process=":memoryFillingService74" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService75"
            android:process=":memoryFillingService75" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService76"
            android:process=":memoryFillingService76" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService77"
            android:process=":memoryFillingService77" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService78"
            android:process=":memoryFillingService78" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService79"
            android:process=":memoryFillingService79" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService80"
            android:process=":memoryFillingService80" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService81"
            android:process=":memoryFillingService81" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService82"
            android:process=":memoryFillingService82" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService83"
            android:process=":memoryFillingService83" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService84"
            android:process=":memoryFillingService84" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService85"
            android:process=":memoryFillingService85" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService86"
            android:process=":memoryFillingService86" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService87"
            android:process=":memoryFillingService87" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService88"
            android:process=":memoryFillingService88" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService89"
            android:process=":memoryFillingService89" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService90"
            android:process=":memoryFillingService90" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService91"
            android:process=":memoryFillingService91" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService92"
            android:process=":memoryFillingService92" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService93"
            android:process=":memoryFillingService93" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService94"
            android:process=":memoryFillingService94" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService95"
            android:process=":memoryFillingService95" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService96"
            android:process=":memoryFillingService96" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService97"
            android:process=":memoryFillingService97" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService98"
            android:process=":memoryFillingService98" />
        <service android:name=".memory.MemoryFillingService$MemoryFillingService99"
            android:process=":memoryFillingService99" />

        <service
            android:name=".display.ScreenAlwaysOnService"
            android:enabled="true"
            android:exported="true"></service>

        <service
            android:name=".display.ScreenAlwaysOnQSTileService"
            android:icon="@drawable/display_screen_always_on_tile_icon"
            android:label="@string/display_screen_always_on_tile_label_off"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <activity android:name=".QSTileLongPressReceiverActivity">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>
    </application>

</manifest>