<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scythe.developertools">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".display.DisplayToolsActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".memory.MemoryToolsActivity"
            android:parentActivityName=".MainActivity"
            android:process=":testMemory" />
        <activity android:name=".memory.MemoryFillingActivity"
            android:process=":memoryFilling"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity1"
            android:process=":memoryFilling1"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity2"
            android:process=":memoryFilling2"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity3"
            android:process=":memoryFilling3"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity4"
            android:process=":memoryFilling4"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity5"
            android:process=":memoryFilling5"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity6"
            android:process=":memoryFilling6"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity7"
            android:process=":memoryFilling7"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity8"
            android:process=":memoryFilling8"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity9"
            android:process=":memoryFilling9"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity10"
            android:process=":memoryFilling10"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity11"
            android:process=":memoryFilling11"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity12"
            android:process=":memoryFilling12"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity13"
            android:process=":memoryFilling13"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity14"
            android:process=":memoryFilling14"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity15"
            android:process=":memoryFilling15"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity16"
            android:process=":memoryFilling16"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity17"
            android:process=":memoryFilling17"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity18"
            android:process=":memoryFilling18"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity19"
            android:process=":memoryFilling19"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity20"
            android:process=":memoryFilling20"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity21"
            android:process=":memoryFilling21"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity22"
            android:process=":memoryFilling22"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity23"
            android:process=":memoryFilling23"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity24"
            android:process=":memoryFilling24"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity25"
            android:process=":memoryFilling25"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity26"
            android:process=":memoryFilling26"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity27"
            android:process=":memoryFilling27"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity28"
            android:process=":memoryFilling28"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity29"
            android:process=":memoryFilling29"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity30"
            android:process=":memoryFilling30"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity31"
            android:process=":memoryFilling31"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity32"
            android:process=":memoryFilling32"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity33"
            android:process=":memoryFilling33"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity34"
            android:process=":memoryFilling34"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity35"
            android:process=":memoryFilling35"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity36"
            android:process=":memoryFilling36"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity37"
            android:process=":memoryFilling37"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity38"
            android:process=":memoryFilling38"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity39"
            android:process=":memoryFilling39"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity40"
            android:process=":memoryFilling40"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity41"
            android:process=":memoryFilling41"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity42"
            android:process=":memoryFilling42"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity43"
            android:process=":memoryFilling43"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity44"
            android:process=":memoryFilling44"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity45"
            android:process=":memoryFilling45"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity46"
            android:process=":memoryFilling46"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity47"
            android:process=":memoryFilling47"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity48"
            android:process=":memoryFilling48"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity49"
            android:process=":memoryFilling49"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity50"
            android:process=":memoryFilling50"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity51"
            android:process=":memoryFilling51"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity52"
            android:process=":memoryFilling52"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity53"
            android:process=":memoryFilling53"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity54"
            android:process=":memoryFilling54"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity55"
            android:process=":memoryFilling55"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity56"
            android:process=":memoryFilling56"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity57"
            android:process=":memoryFilling57"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity58"
            android:process=":memoryFilling58"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity59"
            android:process=":memoryFilling59"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity60"
            android:process=":memoryFilling60"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity61"
            android:process=":memoryFilling61"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity62"
            android:process=":memoryFilling62"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity63"
            android:process=":memoryFilling63"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity64"
            android:process=":memoryFilling64"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity65"
            android:process=":memoryFilling65"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity66"
            android:process=":memoryFilling66"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity67"
            android:process=":memoryFilling67"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity68"
            android:process=":memoryFilling68"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity69"
            android:process=":memoryFilling69"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity70"
            android:process=":memoryFilling70"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity71"
            android:process=":memoryFilling71"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity72"
            android:process=":memoryFilling72"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity73"
            android:process=":memoryFilling73"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity74"
            android:process=":memoryFilling74"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity75"
            android:process=":memoryFilling75"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity76"
            android:process=":memoryFilling76"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity77"
            android:process=":memoryFilling77"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity78"
            android:process=":memoryFilling78"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity79"
            android:process=":memoryFilling79"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity80"
            android:process=":memoryFilling80"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity81"
            android:process=":memoryFilling81"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity82"
            android:process=":memoryFilling82"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity83"
            android:process=":memoryFilling83"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity84"
            android:process=":memoryFilling84"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity85"
            android:process=":memoryFilling85"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity86"
            android:process=":memoryFilling86"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity87"
            android:process=":memoryFilling87"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity88"
            android:process=":memoryFilling88"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity89"
            android:process=":memoryFilling89"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity90"
            android:process=":memoryFilling90"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity91"
            android:process=":memoryFilling91"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity92"
            android:process=":memoryFilling92"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity93"
            android:process=":memoryFilling93"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity94"
            android:process=":memoryFilling94"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity95"
            android:process=":memoryFilling95"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity96"
            android:process=":memoryFilling96"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity97"
            android:process=":memoryFilling97"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity98"
            android:process=":memoryFilling98"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".memory.MemoryFillingActivity$MemoryFillingActivity99"
            android:process=":memoryFilling99"
            android:theme="@style/Theme.Transparent" />


        <service
            android:name=".display.ScreenAlwaysOnService"
            android:enabled="true"
            android:exported="true"></service>

        <service
            android:name=".display.ScreenAlwaysOnQSTileService"
            android:icon="@drawable/display_screen_always_on_tile_icon"
            android:label="@string/display_screen_always_on_tile_label_off"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <activity android:name=".QSTileLongPressReceiverActivity">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>
    </application>

</manifest>